# Logic Logs and Temp Files
*.log
uvicorn_error.txt
traceback.log
out.txt
model_summary.txt
server_logs.txt

# Environment
node_modules/
dist/
.env

# OS
.DS_Store
Thumbs.db
*.keras
*.h5
*.pkl
dataset/
AudioWAV/
__pycache__/